body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }

.imagenBannerIndex {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }

  .linkFooter {
    color: rgb(108, 108, 108);
    text-decoration: none;
  }
  .linkFooter:hover {
    color: #f7f7fa;
  }
 
  .quienesSomosSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }